
@import "bootstrap";

nav.navbar {
  background-color:grey;
  height: 50pt;
  margin-bottom: 20pt;
  background: blue;
  z-index: 1000;
}

#logo img{
  background:transparent;
  height:auto;
  width:40pt;
  margin-right: 3 0pt;
  border: 0pt;
}


nav.navbar  li {
  overflow: hidden;
  margin-right: 15pt;
  position: relative;
  top:5pt;
  width:auto;
  height: 30pt;
  list-style:none;
}
.navbar .nav-item .nav-link{
  color: black;
} 

.navbar .nav-item:hover .nav-link {
  color: white;
}


#navbarboton, #navbarboton2 {
  background: #89D370;
  color: black;
}

#navbarboton:hover, #navbarboton2:hover,{
  color: white;
}


#navbarboton .navbar-link, #navbarboton2 .navbar-link{
  margin: 10pt;
  display: none;
}

@media screen and (max-width: 991px) {
  nav.navbar li{
    background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 ); 
    border-style: dotted;
    border-bottom: 1pt;
    display: block;
    width: 50%;
    height: 40pt;
  }

  .navbar .nav-item .nav-link{
    position: relative;
    margin-left: 10pt;
  }

  #navbarboton2{
    position: relative;
    margin-left: 10pt;

  }

  .navbar .nav-item  form{
    position: relative;
    margin-left: 10pt;
  }

  .navbar .nav-item  input{
    width:60pt; 
    margin-right: 10pt;
  }
}
 


