
@import "bootstrap";
body{
  background: #a4c6db;
}
nav.navbar {
  background-color:black;
  height: 50pt;
  margin-bottom: 20pt;
  background:#e2e2e2;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.75); 
  z-index: 1000;
  }

#logo img{
  background:transparent;
  height:auto;
  width:60pt;
  margin-right: 3 0pt;
  border: 0pt;
}


nav.navbar  li{
  margin-right: 15pt;
  position: relative;
  top:5pt;
  width:auto;
  height: 30pt;
  list-style:none;
  font-weight: bold;
}
.navbar .nav-item .nav-link{
  color: #001F3F;
} 

.navbar .nav-item:hover .nav-link, .navbar .nav-item:hover li.active {
  color: darkcyan;
}
nav.breadcrumb{
  float:left;
}
ol.breadcrumb{
  background-color:#ddd;
}
li.breadcrumb-item a{
  font-weight:bold;
  color:#001F3F;
}
li.breadcrumb-item {
  font-weight:bold;
}
#activo {
  color:black;
}

#navbarboton, #navbarbotonbuscar {
  background: #001F3F;
  border-color: #001F3F;
  color:white;
  font-weight: bold;
}

#navbarboton:hover, #navbarbotonbuscar:hover,{
  color: darkcyan;
}


#navbarboton .navbar-link, #navbarbotonbuscar .navbar-link{
  margin: 10pt;
  display: none;
}

@media screen and (max-width: 991px) {
  nav.navbar li{
    background:#e2e2e2;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.75); 
    z-index: 1000;
    border-style: dotted;
    border-bottom: 2pt;
    width: 70%;
    height: 45pt;
  }

  .navbar .nav-item .nav-link{
    position: relative;
    margin-left: 10pt;
  }

  .navbar .nav-item  input{
    width:150pt; 
  }
}
 


